@import 'var/var';

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
    background: #f0f0f0;
    min-width: 315px;
    height: auto;
}

.center {
    padding: 0 calc(50% - 1140px / 2);
}

.hidden {
    display: none !important;
}

header {
    margin: 0;
    height: 60px;
    margin-bottom: 15px;
    background: #fff;
}

.logo {
    display: inline-block;
    line-height: 60px;
    padding: 0 25px;
    &-title {
        margin: 0;
        text-decoration: none;
        color: $black;
        font-size: 20px;
        font-weight: 600;
    }
    &-title:hover {
        opacity: 0.5;
    }
}

.total {
    display: inline-block;
}

.cart {
    display: inline;
    line-height: 60px;
    float: right; 
    padding: 0 25px;
    &-button {
        padding: 5px 25px;
        border-radius: 5px;
        cursor: pointer;
        outline: none;
        border: none;
        background: $gray;
        color: $white;
    }
    &-button:hover {
        opacity: 0.8;
    }
    &-button:active {
        opacity: 0.5;
    }
}

main {
    margin: 20px 0 20px 0;
}

.goods {
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(190px, 1fr));
    justify-items: center;
    grid-gap: 20px;
    padding: 0 15px;
    &-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        align-content: center;

        background: white;
        border: 1px solid wheat;
        border-radius: 10px;
        box-sizing: border-box;

        padding: 0px 20px;
        &__image {
            margin-top: 20px;
        }
    }
    &-item:hover {
        box-shadow: 0px 0px 15px 11px rgba(83, 165, 227, 0.14);
    }
}

@media only screen and (max-width: 992px) and (min-width: 768px) {
    .center {
        padding: 0 calc(50% - 768px / 2);
    }
}

@media only screen and (max-width: 768px) {
    .center {
        padding: 0 calc(50% - 543px / 2);
    }
}